.button-i1403012451-UJmb23 {
  color: #ffffff;
  font-family: 'Overpass', Helvetica;
  font-size: 14px;
  font-weight: 600;
  height: 24px;
  left: 32px;
  letter-spacing: 0;
  line-height: 24px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 8px;
  white-space: nowrap;
}
.master-button-6FEKkr {
  background-color: #cd424a;
  border-radius: 8px;
  height: 40px;
  mix-blend-mode: normal;
  opacity: 1;
  position: relative;
}
.x14030124 {
  height: 40px;
  left: 298px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 341px;
  width: 165px;
}
